[Unit]
Description=DuckyNet
After=network.target

[Service]
Environment=NODE_ENV=production
Type=simple
User=root
WorkingDirectory=/home/duckynet
ExecStart=/usr/bin/node /home/duckynet/index.js
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
